body {
  padding: 0px;
  margin: 0px;
  font: Helvetica, Arial, sans-serif;
  min-height: 75rem;
}

a {
  color: #00B7FF;
}

.picture-delete-button {
  cursor: pointer;
}

.image {
    width: 28vw;
    height: 28vw;
    background-position: center;
    background-size: cover;
    margin-right: auto;
    margin-left: auto;
}

.jumbotron{
    padding-top: 6rem;
    padding-bottom: 6rem;
    margin-bottom: 0;
    background-color: #fff;
}

.jumbotron h1{
    font-size: 50px;
}

.jumbotron .container {
    max-width: 40rem;
}

.jumbotron-heading {
    font-weight: 300;
}

.fa-trash{
    font-size: 30px;
    float: right;
    padding: 10px 15px;
    color: white;
    display:none;
}

.fa-trash:hover{
    cursor: pointer;
}

.card:hover .fa-trash{
    display:inline-block;
}

.album{
    min-height: 50rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
    background-color: #f7f7f7;
}

.card{
    float: left;
    width: 33.333%;
    padding: .75rem;
    margin-bottom: 2rem;
    border: 0;
}

.card > img {
    margin-bottom: .75rem;
}

footer {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

footer p {
    margin-bottom: .25rem;
}

.btn-secondary {
    color: #fff;
    background-color: #868e96;
    border-color: #868e96;
}
